.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(32, 218, 32);
}

.heading_div
{
    float: none;
    background: rgb(252, 89, 89);
    padding: 10px;
    border-radius: 20px; 
    color: rgba(10, 255, 243, 0.315);
    box-shadow: 5px 5px 5px slateblue;
}

.heading_div2
{
    font-size: 18px;
}

.result_para_tag
{
    box-shadow: 5px 5px 5px rgba(188, 67, 236, 0.527);
    font-size: 20px;
}

.copy_right_footer 
{
    position: fixed;
    color: darkcyan;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 217, 0);
    line-height: 3;
    text-align: center;
}

canvas
{
    border:5px solid rgb(100, 24, 49);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(78, 66, 56);
    margin-top: 150px;
}